*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --preto: #212022;
  --preto-fonte: #2b2a2b;
  --branco: #ffffff;
  --vermelho: #d94938;

  --padding-geral: 0px 25px;
  --padding-mobile: 0px 8px;
}